<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwConfigExceptions="true">
  <targets>
    <target xsi:type="ColoredConsole" name="ColoredConsoleLog" detectConsoleAvailable="true"
            layout="${message}"/>
    <target name="FileLog" xsi:type="File" fileName="c:\temp\CoverArt\logs\${shortdate}.log"
            layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}${onexception:inner=${newline}${exception:format=Type,Message:separator= | }${newline}${exception:format=StackTrace:maxInnerExceptionLevel=1:exceptionDataSeparator=\r\n}}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="ColoredConsoleLog"/>
    <logger name="*" minlevel="Trace" writeTo="FileLog"/>
  </rules>
</nlog>
